Предобработка данных в Pandas

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
data = pd.read_csv('./titanic.csv', index_col='PassengerId')

In [7]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [9]:
age_data = data['Age']
age_data.value_counts().head()

24    30
22    27
18    26
19    25
28    25
Name: Age, dtype: int64

Какое количество мужчин и женщин ехало на корабле?

In [130]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [131]:
type(data['Sex'])

pandas.core.series.Series

Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров.

In [16]:
data['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

Какую долю пассажиры первого класса составляли среди всех пассажиров?

In [24]:
firstClassPass = data[data['Pclass'] == 1]['Pclass'].value_counts()
allClassPass = len(data)
partFirstClass = (firstClassPass/allClassPass)*100
print(partFirstClass)

1    24.242424
Name: Pclass, dtype: float64

Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров.

In [26]:
ageMean = data['Age'].mean()
ageMedian = data['Age'].median()

print("Average age of a Titanic passengers was: %.1f"%ageMean)
print("Median age of a Titanic passengers was: %.1f"%ageMedian)

Average age of a Titanic passengers was: 29.7
Median age of a Titanic passengers was: 28.0

Коррелируют ли число братьев/сестер с числом родителей/детей?
Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [29]:
from scipy.stats import pearsonr

In [31]:
pearsonr(data['SibSp'], data['Parch'])

(0.41483769862015613, 2.2418236681398336e-38)

Какое самое популярное женское имя на корабле? Извлеките из
полного имени пассажира (колонка Name) его личное имя (First
Name). Это задание — типичный пример того, с чем сталкивает-
ся специалист по анализу данных. Данные очень разнородные и
шумные, но из них требуется извлечь необходимую информацию.
Попробуйте вручную разобрать несколько значений столбца Name
и выработать правило для извлечения имен, а также разделения
их на женские и мужские.

In [65]:
passengersNames = data['Name']
womenNames = data[data['Sex'] == 'female']['Name']

In [136]:
womenIndexes = womenNames.index
womenFirstNames = []
for i in womenIndexes:
    if "Miss." in womenNames[i]:
        womenFirstNames.append(womenNames[i].split("Miss.")[1].split()[0])
    elif "Mrs." in womenNames[i]:
        womenFirstNames.append(womenNames[i].split("Mrs.")[1].split()[0])
    elif "Ms." in womenNames[i]:
        womenFirstNames.append(womenNames[i].split("Ms.")[1].split()[0])
    elif "Mme." in womenNames[i]:
        womenFirstNames.append(womenNames[i].split("Mme.")[1].split()[0])
    elif "Lady." in womenNames[i]:
        womenFirstNames.append(womenNames[i].split("Lady.")[1].split()[0])
    elif "Mlle." in womenNames[i]:
        womenFirstNames.append(womenNames[i].split("Mlle.")[1].split()[0])
    else:
        womenFirstNames.append(womenNames[i])

In [137]:
pd.Series(womenFirstNames).value_counts().head(10)

William      13
Anna          9
Mary          9
Elizabeth     6
Thomas        6
Margaret      6
John          6
Frederick     5
Edward        4
Helen         4
dtype: int64