Важность признаков

In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
%matplotlib inline

In [66]:
clf = DecisionTreeClassifier(random_state = 241)

In [67]:
data = pd.read_csv('./titanic.csv', index_col="PassengerId")

In [68]:
data = data.dropna()

In [69]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7000,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.5500,C103,S

In [70]:
X = data[['Pclass', 'Fare', 'Age', 'Sex']]

In [71]:
X['Sex'] = X['Sex'].astype("category", categories=['female', 'male'], ordered=False)
X['Sex'] = X['Sex'].cat.rename_categories([0,1])

c:\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
c:\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [72]:
X.head()

             Pclass     Fare  Age Sex
PassengerId
2                 1  71.2833   38   0
4                 1  53.1000   35   0
7                 1  51.8625   54   1
11                3  16.7000    4   0
12                1  26.5500   58   0

In [73]:
y = data['Survived']

In [74]:
clf.fit(X, y)

c:\Anaconda3\lib\site-packages\sklearn\base.py:175: DeprecationWarning: inspect.getargspec() is deprecated, use inspect.signature() instead
  args, varargs, kw, default = inspect.getargspec(init)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            random_state=241, splitter='best')

In [84]:
clf.feature_importances_

array([ 0.01793336,  0.29549222,  0.40310552,  0.2834689 ])

Ответ: Fare, Age